@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;0,900;1,900&family=Kanit&family=Ubuntu:wght@400;500&display=swap');

/* Base CSS */
:root {

    /* Colors */
    --pale-green: #719782;
    --dark-pink: #ff748c;
    --dark-green: #2c965c;
    --light-pink: #F6CAD8;
    --medium-pink: #eca5bc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-weight: 300;
}

h1 { 
    font-family: Fraunces, serif;
}

p {
    font-family: Barlow, sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: Barlow, sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

/* Resuable */

.button {
    border: none;
    border-radius: 50px !important;
    background-color: var(--dark-green);
    color: white;
    max-width: 50%;
    padding: 0.7rem 4rem;
}

/* Layout */

section {
    margin-top: 3rem;
}

.coloredSection {
    background-color: var(--pale-green);
    color: white;
}
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}


.row {
    margin-left: 10rem;
    margin-right: 10rem;
}

/*Nav Bar*/
nav {
    background-color: white;
    color: var(--pale-green);
}

.navbar-brand img{
    display: block;
    height: 8.5rem;
    margin-top: 1rem;
    max-width: 100%;
}

.nav-link {
    color: var(--pale-green) !important;
}

.nav-link:hover {
    color: var(--light-pink) !important;
}

/* Hero */

.hero {
    margin-bottom: 3rem;
}
.title {
    margin: auto;
}

.title h1 {
    color: var(--dark-pink);
    font-size: 4.5rem;
    margin-bottom: 1.75rem;
}

.title p {
    margin-bottom: 4rem;
    width: 85%;
}

.fa-heart {
    color: #ff748c;
}

.heroButton:hover {
    background-color: var(--light-pink);
    color: white;
}

.heroImage {
    width: 500px;
}

.heroImageCol {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* About */

.about {
    margin-top: 3rem;
}

.aboutDescription h1 {
    margin-bottom: 2rem;
}

/* Projects */

.projectsContainer h1 {
    color: var(--dark-pink);
    margin-left: 4rem;
    margin-bottom: 4rem;
}

.projects {
    margin-bottom: 6rem;
}


.liveSiteButton, .githubButton {
    margin-top: 2rem;
    margin-right: 0.5rem;
    color: white;
}

.liveSiteButton {
    background-color: var(--medium-pink);
}

.githubButton {
    background-color: var(--dark-green);
}

.liveSiteButton:hover, .githubButton:hover {
    background-color: var(--light-pink);
}

/* Contact */
.contact {
    font-family: "Helvetica Neue", sans-serif;
    margin-top: 4rem;
    text-align: center;
}

.contact h1 {
    padding-top: 1rem;
    padding-bottom: 4rem;
    text-align: center;
}

.contactDetails {
    color: white;
}

.contactDetails a{
    font-family: Barlow, sans-serif;
}

.contactDetails:hover {
    color: #F6CAD8;
}

.contactDetails .fab, .contactDetails .fas {
    font-size: 2rem;
    margin-right: 0.4rem;
}

.attribution {
    margin-top: 5rem;
    padding: 0;
}

/* Media Queries */


@media screen and (max-width: 540px) {

    h1 {
        font-size: 2.15rem;
    }

    .row {
        margin: 0 2rem 0 1rem;
    }

    .title {
        text-align: center;
    }

   .title p {
       margin-left: 1.95rem;
   }

    .heroImage {
        margin-bottom: 3rem;
        width: 400px;
    }


    .about {
        margin: 3rem 1rem 3rem 1rem;
    }

    

    .aboutDescription {
        padding-bottom: 2rem;
        text-align: center;
    }

    .projectsContainer h1 {
        margin-left: 0;
        text-align: center;
    }

    .projectsContent {
        margin-left: 2rem;
    }
    .projectInfo {
        text-align: center;
    }

    .liveSiteButton, .githubButton {
        padding: 15px 25px;
    }
}

