@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;0,900;1,900&family=Kanit&family=Ubuntu:wght@400;500&display=swap');

body {
    display: block;
    overflow-x: hidden;
}

.container {
    position: relative;
}

.colored-section {
    background-color: #719782;
    color: white;
}

.colored-section h1, .colored-section p {
    color: white;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    font-weight: 900;
    font-family: Fraunces, serif;
    color: #ff748c;
    text-align: left;
    margin-bottom: 20px;
}

section p{
    font-size: 16px;
    font-weight: 300;
    width: 80%;
    font-family: Barlow, sans-serif;
}

.button {
    max-width: 50%;
    border-radius: 50px !important;
    border: none;
    background-color: #2c965c;
    color: white;
}

.button:hover {
    background-color: #F6CAD8;
    color: black;
}

/* Navigations */

nav {
    background-color: white;
}

.navbar-brand img {
    max-height: 110px;
    margin-left: 4rem;
}


.nav-link {
    color: #719782;
    font-family: Barlow, sans-serif;
    font-size: 22px;
    margin: auto 10px;
}

.nav-link:hover {
    color: #ff748c;
}

/* Hero */

.title {
    position: relative;
    top: 5rem;
    margin-left: 6rem;
}

.title h1 {
    font-size: 4rem;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.fa-heart {
    color: #ff748c;
}

#hero .hero-img-col {
    justify-content: flex-end;
    margin-top: 100px;
}

#hero img {
    max-width: 130% !important;
    width: 100%;
    position: relative;
    top: 2rem;
}

/* About */

#about {
    margin-top: 6rem;
    margin-bottom: 3rem;
    padding-bottom: 2.5rem;
}
.about-desc {
    position: relative;
    top: 5rem;
}

/* Projects */

.projects h1 {
    margin-bottom: 5rem;
    margin-left: 6rem;
}

.projects {
    padding-bottom: 10rem;
    margin-left: 6rem;
}
.project-img {
    width: 500px;
}

.project-img-right {
    position: relative;
    right: 5rem;
}

.project-desc-left {
    margin-left: 6rem;
}

.project-desc-right {
    margin-left: 3rem;
}

.fab {
    font-size: 2rem;
}

.live-site-btn, .github-btn {
    margin-top: 2rem;
    margin-right: 0.5rem;
    color: white;
}

.live-site-btn {
    background-color: #eca5bc;
}

.github-btn {
    background-color: #2c965c;
}

/* Contact */

#contact {
    text-align: center;
}

#contact h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.contact-details {
    color: white;
}

.contact-details a{
    font-family: Barlow, sans-serif;
}

.contact-details:hover {
    color: #F6CAD8;
}

.contact-details .fab, .contact-details .fas {
    font-size: 2rem;
    margin-right: 0.4rem;
}

.attribution {
    margin-top: 3rem;
    text-align: center;
}

/* Media  */

/* If Viewport is equal is to 340px or less than */

@media only screen and (max-width: 340px) {

    section p {
        width: 120%;
    }

    

    /* Buttons */
    .button {
        max-width: 85%;
        border-radius: 50px !important;
        border: none;
        background-color: #2c965c;
        color: white;
        margin-left: 1.55rem;
    }

    /* Hero */
    .title {
        margin-left: 0;
    }
    .title h1 {
        margin-top: 2rem;
    }

    .title h1 {
        font-size: 2.55rem;
    }

    #hero img {
        margin-left: 1.55rem;
        width: 100%;
    }
    /* About */
    #about {
        margin: 0%;
        width: 100%;
        padding: 245px;
    }

    .about-img-col {
        width: 12rem;
        position: relative;
        right: 7rem;
    }

    /* About */
    #about {
        margin-bottom: 3rem;
        padding-bottom: 2.5rem;
    }

    .about{
        position: relative;
    }

    #about h1 {
        width: 200px;
        text-align: center;
    }

    .about p{
        width: 250px;
    }

    .about-desc {
        position: relative;
        top: 1rem;
        right: 7rem;
    }

    /* Projects */
    
    #projects {
        width: 100%;
    }

    #projects h1 {
        text-align: center;
    }

    .projects {
        margin-left: 0;
        
    }

    .project-img{
        width: 300px;
    }
    
    .project-desc-left {
        margin: 5rem;
        width: 320px;
    }
}

/* If Viewport is equal is to 375px or less than */

@media only screen and (max-width: 380px) {

    section p {
        width: 120%;
    }

    /* Buttons */
    .button {
        max-width: 85%;
        border-radius: 50px !important;
        border: none;
        background-color: #2c965c;
        color: white;
        margin-left: 1.25rem;
    }

    .navbar {
        padding-left: 2rem;
    }
    /* Hero */
    #hero {
        margin-left: 6rem;
    }
    .title h1 {
        margin-top: 2rem;
    }

    .title h1 {
        font-size: 2.55rem;
    }

    #hero img {
        margin-left: 2.45rem;
        width: 100%;
    }
    
    /* About */
    #about {
        margin: 0 auto;
        width: 100%;
        padding: 245px;
    }

}

/* If Viewport is equal is to 430px or less than */

@media only screen and (max-width: 430px) {

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    section p {
        width: 120%;
    }

    /* Buttons */
    .button {
        max-width: 85%;
        border-radius: 50px !important;
        border: none;
        background-color: #2c965c;
        color: white;
        margin-left: 1.25rem;
    }

    .navbar {
        padding-left: 1rem;
    }

    /* Title */

    .title {
        /* margin-left: 7rem; */
    }
    /* Hero */
     #hero {
         margin-bottom: 15rem;
    }

    .btn {
        width: 200px;
    }
    .title h1 {
        margin-top: 2rem;
    }

    .title h1 {
        font-size: 2.55rem;
    }

    #hero img {
        top: 15rem;
        right: 12rem;
        width: 111px;
    }
    
    /* About */
    #about {
        margin: 0 auto;
        width: 100%;
        padding: 90px 230px;
    }
    #about h1 {
        width: 200px;
        text-align: center;
    }
    
    .about-img-col {
        width: 16rem;
        position: relative;
        right: 7rem;
    }

    .about p{
        width: 250px;
    }

    .about-desc {
        position: relative;
        top: 1rem;
        right: 7rem;
        padding-left: 0;
    }

    .about-img img{
        width: 155px;
    }

    /* Projects */

    #projects {
        width: 100%;
    }

    #projects h1 {
        text-align: center;
    }

    .projects {
        margin-left: 0;
        margin-top: 4rem;
        padding-bottom: 0;
        position: relative;
        right: 2rem;
        
    }

    .project-img {
        width: 300px;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 105px;
    }
    
    .project-img-left {
        left: 20px; 
    }
    .project-desc-left {
        margin: 4rem 7rem;
        width: 300px;
    }

    .project-desc-right {
        margin: 4rem 7rem;
        width: 300px
    }

    /* Contact */

    .live-site-btn, .github-btn {
        margin-top: 1rem;
        margin-left: 0rem;
        color: white;
    }

    .live-site-btn {
        background-color: #eca5bc;
    }
    
    .github-btn {
        background-color: #2c965c;
    }
}